$color-primary:#ADB5BD;
$color-primary-light: #6C757D;
$color-primary-dark:#495057;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-secondary-light: #6C757D;
$color-secondary-dark: #495057;

$color-tertiary-light: #6C757D;
$color-tertiary-dark: #495057;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;